apiVersion: v1
kind: Pod
metadata:
  name: gcp-test-pod
  namespace: default
  labels:
    app: gcp-test
spec:
  serviceAccountName: oke-sa
  containers:
  - name: gcloud
    image: google/cloud-sdk:slim
    command: ["sleep", "infinity"]
    env:
    - name: GOOGLE_APPLICATION_CREDENTIALS
      value: /var/run/secrets/tokens/gcp-ksa
    - name: CLOUDSDK_AUTH_CREDENTIAL_FILE_OVERRIDE
      value: /var/run/secrets/tokens/gcp-ksa
    volumeMounts:
    - name: gcp-token
      mountPath: /var/run/secrets/tokens
      readOnly: true
  volumes:
  - name: gcp-token
    projected:
      sources:
      - serviceAccountToken:
          path: gcp-ksa
          expirationSeconds: 3600
          audience: sts.googleapis.com
